/*
 Theme Name:   Twenty Fourteen Child
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Twenty Fourteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentyfourteen
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fourteen-child

#Carl did some bitbucket testing before entering actual codes

*/

@import url("../twentyfourteen/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */



strong.greenhr,
li.greenhr{
   background :green !important;
   color:#FFF;
}

strong.yellowhr,
li.yellowhr{
   background :yellow !important;
   color:#000;
}

strong.redhr,
li.redhr{
   background :red !important;
   color:#FFF;
}

strong.greenhr *,
li.greenhr a{
   color:#FFF !important;
   padding:10px 15px;
}

strong.yellowhr *,
li.yellowhr a{
   color:#000 !important;
   padding:10px 15px;
}

strong.redhr *,
li.redhr a{
   color:#FFF !important;
   padding:10px 15px;
}

.form-allowed-tags,
.comment-form-attachment label{
  display:none;
}

#t_story_status table,
#b_story_status table{
   border:0px;
   border-top:1px solid #aaa;
   border-bottom:1px solid #aaa;
}

#t_story_status table h5,
#b_story_status table h5{
   margin:10px;
}

#b_story_status {
   text-align:center;
   margin:0px auto;
   width:40%;
   
}

#t_story_status table td,
#b_story_status table td{
   border:0px;
   padding:0px;
   font-size:12px;
}

#change_status{
	text-align: center;
	margin: 20px auto;
	width: 100%;
	float: left;
}

.ajax_status{
    background:yellow;
	color:#000;
}
#live-edit-panel { 
	overflow: hidden;
}
.notes {
	padding:1em;
	border:1px dotted black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wp-editor-container {
	border:1px solid #ccc;
}
#date-ranges {
	margin-bottom: 10px;
}
.page-id-104 .site-content .entry-content {
	margin: 0 1em;
	padding: 0;
	max-width: 100%;
}

.site-content .entry-content {
	max-width: none;
}

.comments-area {
	display:none;
}
.entry-title {
	text-transform: none;
}
.site-content .entry-header {
	max-width: 100%;
}